

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
}

body, html {
    scroll-behavior: smooth;
}
.logo {
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
nav ul li a {
    font-size: small;
    color: #000;
}

nav ul li a:hover {
    color: #fff;
    background-color: #000;
    border-radius: 30px;
    padding: 0.5rem 1rem 0.5rem 1rem;

}

.find {
    color: #000;
    background-color: transparent;
    border: 1px solid black;
    font-size: small;
    padding: 0.6rem 2rem 0.6rem 2rem;
    border-radius: 30px;
}
.find:hover {
    color: #fff;
    background-color: #000;
    border: none;
    transform: scale(1.06);
}
.main {
    margin-top: 8rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin: 2rem;
    position: fixed;
    margin-left: 5.5rem;
    margin-top: -6.5rem;
    background-color: #fff;
    padding: 0.6rem 2rem 0.6rem 2rem;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}


/* HOME HOME HOME HOME HOME HOME HOME */
/* 
.home {
    background-image: url(/images/three.jpg);
    background-repeat: none;
    background-size: cover;
    height: 0vh;
    margin-top: -3rem;
} */
.right img {
    width: 75rem;
    margin-top: -5.8rem;
    margin-left: 13rem;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 8rem;
    margin-top: 5rem;
}
.left h3 {
    font-size: 3.5rem;
}
.left p {
    font-size: 12px;
    color: #5a5a5a;
    margin-top: -2rem;
}
.left a {
    color: #000;
    background-color: black;
    border: none;
    color: #fff;
    font-size: small;
    padding: 0.6rem 2rem 0.6rem 2rem;
    border-radius: 30px;
    position: absolute;
    margin-top: 14rem;
}
.left a:hover {
    transform: scale(1.06);
}

.right img {
    margin-top: -23rem;
    width: 40rem;
    margin-left: 38.8rem;
    z-index: 1;
}


.left .props {
    display: flex;
    gap: 2rem;
}

.props h3 {
    font-weight: 500;
    font-size: 18px;
}
.props {
    padding: 2rem;
    background-color: #eee;
    position: absolute;
    margin-top: 18rem;
    border-radius: 20px;
}
.props p {
    font-size: 9px;
    margin-top: 0.1rem;
}
.props span {
    color: blueviolet;
}
.props:hover {
    transform: scale(1.06);
}


/* BTW BTW BTW BTW BTW BTW BTW BTW BTW */
.btw {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    margin-top: -2rem;
    z-index: 2;
    position: relative;
    border-radius: 30px;
    margin-left: 6rem;
}
.btw h1 {
    margin-left: 4rem;
    font-size: medium;
    margin-bottom: 1rem;
    color: #000;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.search input {
    height: 30px;
    border-radius: .5rem;
    border: 1px solid #eee;
}

.search input::placeholder {
    font-size: 10px;
    padding: 1rem;
    background-color: #fff;
}

.search input:focus {
    outline: none;
    
}

.search button {
    background-color: #000;
    border: none;
    color: #fff;
    font-size: small;
    padding: 0.6rem 2rem 0.6rem 2rem;
    border-radius: .2rem;
    font-size: 10px;
}


/* ABOUT ABOUT ABOUT ABOUT */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 5rem;
    background-color: #eee;
    padding: 6rem;
    margin-top: 7rem;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 7rem;
}
.aboutimg img{
    width: 25rem;
}
.abouttext {
    width: 500px;
}

.abouttext p {
    font-size: smaller;
    color: #3c3b3b;
}

.abouttext span {
    width: 10px;
    height: 5px;
    color: blueviolet;
}

/* PROPERTIES PROPERTIES PROPERTIES */
.properties {
   margin: 5rem;
   z-index: 1;
}
.homes img {
    width: 17rem;
   
}
.home1, .home2, .home3 {
    width: 272px;
    height: 320px;
    background-color: #eee;
    cursor: pointer;
}

.home1:hover, .home2:hover, .home3:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transform: scale(1.06);
}
.homes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    z-index: 2;
}

.homes .details .p {
    font-weight: bold;
    margin-left: 1rem;
}
.smalldetails  i {
    font-size: 12px;
}
.homes .smalldetails p {
    font-size: 10px;
    font-weight: light;
    color: #3c3b3b;
    margin-top: 1rem;
}
.smalldetails, .smalldetails2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.smalldetails2 {
    margin-left: -1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.smalldetails2 a{
    color: #fff;
    background-color: #000;
    font-size: 11px;
     padding: 0.4rem 1rem 0.4rem 1rem;
     border-radius: 30px;
}
.smalldetails2 p{
    font-weight: bold;
}
.popular {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 55rem;
}
.popular p, .popular a {
    font-size: small;
    color: #000;
}


/* AGENTS AGENTS AGENTS AGENTS AGENTS */
.agents {
    background-color: #000;
    color: #fff;
    padding: 3rem;
}
.line {
    opacity: 30%;
}
.location {
    opacity: 60%;
}
.rows h5 {
  font-size: large;  
}
.rows {
    width: 90%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 30px;
    margin: 2rem;
    color: #000;
    cursor: grab;
    font-size: small;
}
.rows p {
    margin-bottom: 1rem;
}
.rows i {
    font-size: 14px;
}
.rows a {
    color: #000;
}
.wa {
    color: green;
    font-size: 14px;
}
.ig {
    color: red;
}
.getintouch {
    margin-top: 2rem;
}

.getintouch a {
    background-color: #eee;
    padding: 0.7rem;
    border-radius: 30px;
    margin: 1rem;
    margin-left: 0;
}

.getintouch a:hover {
    background-color: #000;
    color: #fff;
}

.pro:hover {
    background-color: #eee;
    padding: 0.7rem;
    border-radius: 30px;
}


/* FOOTER FOOTER FOOTER FOOTER  */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #eee;
    margin: auto;
    padding: 7rem;
    gap: 3rem;
    padding-top: -3rem;
}

.second-half {
    display: flex;
    justify-content: center;
    align-items: right;
    gap: 4rem;
}

.trr {
    font-size: x-small;
}
.first-half {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.first-half h3 {
    font-size: 30px;
}

.first-half p{
    font-size: x-small;
}

form input {
    width: 400px;
    height: 2.5rem;
    background-color: #000;
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
}

form {
    background-color: black;
    padding: 2rem;
    border-radius: .9rem;
    color: #fff;
    width: 550px;
}

form button {
    width: auto;
    height: 2.5rem;
    width: 120px;
    border-radius: 30px;
    border: none;
}

.second-half h5 {
    font-size: 10px;
    font-weight: light;
}

.second-half a {
    color: #3c3b3b;
    font-size: 10px;
}
.fot {
    display: block;
    position: absolute;
    margin-top: 25rem;
    font-size: x-small;
    opacity: 60%;
    font-style: italic;
}


.socials i {
    font-size: 25px;
    background-color: transparent;
    border: 1.5px solid black;
    padding: 0.5rem;
    border-radius: 50%;
}

.socials i:hover {
    transform: rotateZ('35deg');
    color: #fff;
    background-color: #000;
    cursor: pointer;
}